.ProjectLocation {
  position: relative;
  display: block;
  width: 100%;
  padding: 12px 0;
  margin: 8px 0;
  text-align: left;
  font-size: inherit;
  border: 0;
  color: #8C56D4;
  background: transparent;
  margin: 0 0 48px 0;
}

.ProjectLocation:focus {
  outline: none;
  text-decoration: underline;
}

.ProjectLocation:hover {
  text-decoration: underline;
}

.SectionTitle {
  width: 100%;
  display: inline-block;
  color: #8C56D4;
  margin: 48px 0 8px 0;
  font-weight: 500;
}
