.CreateProject {
  position: absolute;
  bottom: 40px;
  left: 32px;
  right: 32px;
  width: calc(100% - 64px);
  display: block;
  padding: 12px 16px;
  font-size: inherit;
  text-align: center;
  color: white;
  border: 1px solid #8C56D4;
  background: transparent;
  border-radius: 4px;
  transition: 0.2s;
}

.CreateProject:focus {
  outline: 1px solid #8C56D4;
}

.CreateProject:hover {
  border: 1px solid white;
}
